NEXT_PUBLIC_SUPABASE_URL=https://nxfcwugrwsddzwqvetje.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im54ZmN3dWdyd3NkZHp3cXZldGplIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTU1ODc3MjIsImV4cCI6MjA3MTE2MzcyMn0.J4pr28S26gTVHwiK296BCl0DL76JrAS-Xipoy3VQ6so
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im54ZmN3dWdyd3NkZHp3cXZldGplIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NTU4NzcyMiwiZXhwIjoyMDcxMTYzNzIyfQ.J4pr28S26gTVHwiK296BCl0DL76JrAS-Xipoy3VQ6so